<!DOCTYPE html>
<html lang="es" ng-app="app"
	data-ng-controller="campaignAdminController">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>

<!-- Bootstrap -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/sivale.css" rel="stylesheet">

<!-- JS (load angular, ui-router, and our custom js file) -->
<script src="../js/angular.min.js"></script>
<script src="../js/angular-ui-router.min.js"></script>
<script src="../js/ng-table.min.js"></script>
<script src="../js/appAdmin.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/jquery-2.1.4.min.js"></script>

<!-- bower:js -->
<script src="../js/angular-messages.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/daterangepicker.min.js"></script>
<!-- endbower -->

<script src="../js/angular-daterangepicker.min.js"></script>

</head>
<body>

	<div class="text-right">


		<div class="row margin-top10">
			<div class="col-md-2">Nombre</div>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Nombre"
					aria-describedby="basic-addon1">
			</div>
		</div>

		<div class="row margin-top10">
			<div class="col-md-2">Duracion</div>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Nombre"
					aria-describedby="basic-addon1">
			</div>
		</div>

		<div class="row margin-top10">
			<div class="col-md-2">Compañia</div>
			<div class="col-md-5">
				<select class="form-control"
					ng-options="option.name for option in selectCompany.availableOptions track by option.id"
					ng-model="selectCompany.selectedOption" ng-change="changeCompany()">
				</select>
			</div>
		</div>

		<div class="row margin-top10" ng-if="isEnabledProgram()">
			<div class="col-md-2">Programa</div>
			<div class="col-md-5">
				<select class="form-control"
					ng-options="option.name for option in selectProgram.availableOptions track by option.id"
					ng-model="selectProgram.selectedOption" ng-change="changeProgram()">
				</select>
			</div>
			<div class="col-md-5" ng-if="isNewProgram()">
				<input ng-model="newClassificationlevel.program" type="text" class="form-control"
					placeholder="Nombre" aria-describedby="basic-addon1">
			</div>
		</div>

		<div class="row margin-top10" ng-if="isEnabledSubProgram()">
			<div class="col-md-2">Subprograma</div>
			<div class="col-md-5">
				<select class="form-control"
					ng-options="option.name for option in selectSubProgram.availableOptions track by option.id"
					ng-model="selectSubProgram.selectedOption"
					ng-change="changeSubProgram()">
				</select>
			</div>
			<div class="col-md-5" ng-if="isNewSubProgram()">
				<input ng-model="newClassificationlevel.subProgram" type="text"
					class="form-control" placeholder="Nombre"
					aria-describedby="basic-addon1">
			</div>
		</div>

		<div class="row margin-top10" ng-if="isEnabledBusinessUnit()">
			<div class="col-md-2">Unidad de negocio</div>
			<div class="col-md-5">
				<select class="form-control"
					ng-options="option.name for option in selectBusinessUnit.availableOptions track by option.id"
					ng-model="selectBusinessUnit.selectedOption"
					ng-change="changeBusinessUnit()">
				</select>
			</div>
			<div class="col-md-5" ng-if="isNewBusinessUnit()">
				<input ng-model="newClassificationlevel.businessUnit" type="text"
					class="form-control" placeholder="Nombre"
					aria-describedby="basic-addon1">
			</div>
		</div>

		<div class="row margin-top10" ng-if="isEnabledLevel4()">
			<div class="col-md-2">Nivel 4</div>
			<div class="col-md-5">
				<select class="form-control"
					ng-options="option.name for option in selectLevel4.availableOptions track by option.id"
					ng-model="selectLevel4.selectedOption"
					ng-change="changeLevel4()">
				</select>
			</div>
			<div class="col-md-5" ng-if="isNewLevel4()">
				<input ng-model="newClassificationlevel.level4" type="text"
					class="form-control" placeholder="Nombre"
					aria-describedby="basic-addon1">
			</div>
		</div>
		
		<div class="row margin-top10" ng-if="isEnabledLevel5()">
			<div class="col-md-2">Nivel 5</div>
			<div class="col-md-5">
				<select class="form-control"
					ng-options="option.name for option in selectLevel5.availableOptions track by option.id"
					ng-model="selectLevel5.selectedOption"
					ng-change="changeLevel5()">
				</select>
			</div>
			<div class="col-md-5" ng-if="isNewLevel5()">
				<input ng-model="newClassificationlevel.level5" type="text"
					class="form-control" placeholder="Nombre"
					aria-describedby="basic-addon1">
			</div>
		</div>
	</div>


	<div class="row margin-top10">
		<div class="col-md-2"></div>

		<div class="col-md-5 text-left">

			<button type="button" class="btn btn-success">Crear</button>
			<button type="button" class="btn btn-danger left-35">
				Cancelar</button>

		</div>
	</div>



</body>
</html>