.eng{
	width: 700px;
}

.caz{
	color: #002f6c;
}

.gris{
	color: gray;
}

.df{
	width:700px;
}

.tit{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.right{
	text-align: right;
}

.tabl1{
	margin-top: 10px;
}

.bord{
	border: 1px solid gray;
	width: 250px;
	border-radius: 4px;
	margin: 0px auto;
}

.tit2{
	font-size: 40px;
	text-align: center;
}

.sb2{
	font-size: 20px;
	margin-top: -30px;
	text-align: center;
}

.imgf{
	width: 100px;
	margin-top: 20px;
}

.imgs{
	width: 150px;
	margin-left: 450px;
	margin-top: 20px;
}

.imge{
	margin-top: 30px;
	width: 700px;
	text-align: center;
}