<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="panel-body ">
	<div class="navbar container">
		<ol class="breadcrumb breadcrumb-arrow">
			<li><a ui-sref="home">Inicio</a></li>
			<li class="active"><span>Mis Campañas</span></li>
		</ol>
	</div>
	<div class="container">
		<div class="panel panel-default table-top-sivale">
			<div class="panel-heading">
				<div class="container-fluid">
					<div class="navbar-header">{{classification.className}}</div>
				</div>
			</div>

			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</div>
				<input class="form-control" type="text"
					data-ng-model="filters.myfilter" placeholder="Buscar Campaña" />
			</div>

			<div class="panel-body">
				<div data-ng-controller="getCampaigns" ng-cloak>
					<table ng-table="tableCampaigns" class="table">
						<tr ng-repeat="campaign in $data">

							<td title="'Nombre de Campaña'" header-class="'text-left'"
								sortable="'campaignName'">{{campaign.campaignName}}</td>

							<td title="'Clasificacion'" header-class="'text-left'"
								sortable="'classification'">{{campaign.classification}}</td>

							<td title="'Inicio'" header-class="'text-left'"
								sortable="'startDate'">{{campaign.startDate}}</td>

							<td title="'Cierre'" header-class="'text-left'"
								sortable="'endDate'">{{campaign.endDate}}</td>
							<td><a href="#" data-ng-click="updateCampaign(campaign)"
								ui-sref="campaign"> Ver</a></td>

						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>