<div class="container panel breadcrumb_sivale">
	<div class="navbar">
		<ol class="breadcrumb breadcrumb-arrow">
			<li class="active"><span>Inicio</span></li>
		</ol>
	</div>
</div>

<div class="panel-body ">
	<div class="container body-top-sivale">
		<div class="panel panel-default table-top-sivale">
			<div class="panel-heading">
				<div class="container-fluid">
					<div class="navbar-header">Mis clasificaciones de campaña</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="row" data-ng-controller="getClassifications" ng-cloak>
					<div class="col-sm-6 col-md-4"
						ng-repeat="classification in classifications">
						<div class="thumbnail">
							<div class="thumbnail2 div-sivale">
								<div class="thumbnail2_wrapper">
									<img src="{{classification.catViews.logos}}">
								</div>
							</div>
							<div class="caption">
								<h3>{{classification.className}}</h3>
								<p>{{classification.description}}</p>
								<p>
									<a href="#" class="btn btn-primary" role="button"
										data-ng-click="updateClassification(classification)"
										ui-sref="campaigns">Abrir</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>