<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="panel-body back-sivale">
	<div class="navbar container">
		<ol class="breadcrumb breadcrumb-arrow">
			<li><a ui-sref="home">Campañas Recientes</a></li>
			<li><a ui-sref="campaign">Publicaciones</a></li>
			<li class="active"><span>Alta de Publicaciones</span></li>
		</ol>
	</div>
	<div class="container">
		<div class="panel panel-default table-top-sivale">
			<div class="panel-heading">
				<div class="container-fluid">
					<div class="navbar-header">Datos de Publicación</div>
				</div>
			</div>
			<div class="panel-body back-sivale">

				<div class="text-right">

					<div class="row margin-top10">
						<div class="col-md-4">Nombre de Publiccion</div>
						<div class="col-md-8">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="row margin-top10">
						<div class="col-md-4">Tipo de Publicación</div>
						<div class="col-md-8">
							<select class="form-control">
								<option>Teaser</option>
								<option>Avance</option>
								<option>Cierre</option>
								<option>Premiación</option>
							</select>
						</div>
					</div>

					<div class="row margin-top10">
						<div class="col-md-4">Documento html</div>
						<div class="col-md-8">
							<input data-max-size="245760" id="file-html" type="file"
								class="file" name="file-html[]" data-show-preview="false"
								data-show-upload="false" data-show-remove="false">
						</div>
					</div>

					<div class="row margin-top10">
						<div class="col-md-4">Documento</div>
						<div class="col-md-8">
							<input id="file-xlsx" type="file" class="file" name="file-xlsx[]"
								data-show-preview="false" data-show-upload="false"
								data-show-remove="false">
						</div>
					</div>

					<div class="row margin-top10">
						<div class="col-md-4">Descripción</div>
						<div class="col-md-8">
							<textarea class="form-control" rows="3"></textarea>
						</div>
					</div>

					<div class="row margin-top10">
						<div class="col-md-4">Documentación anexa</div>
						<div class="col-md-8">
							<input type="file" class="file" data-show-preview="false"
								data-show-upload="false" data-show-remove="false">
							<!-- <div class="col-md-2">
						<label class="checkbox span4"> <input type="checkbox"
							value="all" id="allstates" name="all" />Archivo Público
						</label>
					</div> -->
						</div>
					</div>
				</div>


				<div class="row margin-top10">
					<div class="col-md-4"></div>

					<div class="col-md-8 text-left">

						<button type="button" class="btn btn-success"
							ng-click="ticketUpload()">Publicar</button>
						<button type="button" class="btn btn-danger left-35">
							Cancelar</button>

					</div>
				</div>

				<script>
					$('#file-xlsx').fileinput({
						language : 'es',
						uploadUrl : '#',
						allowedFileExtensions : [ 'xlsx' ],
					});
					$('#file-html').fileinput({
						language : 'es',
						uploadUrl : '#',
						allowedFileExtensions : [ 'html' ],
					});
				</script>

			</div>
		</div>
	</div>
</div>