<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="panel-body back-sivale">
	<div class="navbar container">
		<ol class="breadcrumb breadcrumb-arrow">
			<li><a ui-sref="home">Inicio</a></li>
			<li><a ui-sref="campaigns">Mis Campañas</a></li>
			<li><a ui-sref="campaign">Campaña</a></li>
			<li class="active"><span>Publicación</span></li>
		</ol>
	</div>
	<div class="container">
		<div class="panel panel-default table-top-sivale">
			<div class="panel-heading">
				<div class="container-fluid">
					<div class="navbar-header">{{campaign.campaignName}}</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">

						</ul>
					</div>
				</div>
			</div>

			<div class="panel-body back-sivale">
				<div class="row">
					<div>
						<div class="col-md-3">
							<div class="panel panel-default table-top-sivale">
								<div class="panel-heading">
									<div class="container-fluid">Archivos</div>
								</div>
								<div class="panel-body back-sivale" data-ng-controller="getAttachedFiles">

									<table ng-table="tableAttachedFiles" class="table">
										<tr ng-repeat="file in $data">

											<td header-class="'text-left'">{{file.fileName}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>

						<div class="col-md-9">
							<div class="panel panel-default table-top-sivale">
								<div class="panel-heading">
									<div class="container-fluid">{{publication.name}}</div>
								</div>
								<div class="panel-body back-sivale publication-html"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>