/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #f5f5f5;
	background-color: #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}


/* Customize container */
@media (min-width: 468px) {
  .container {
    max-width: 470px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

@media screen and (min-width:768px) {
	.jumbotron {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.container .jumbotron, .container-fluid .jumbotron {
		/* padding-right: 20px; */
		/* padding-left: 60px; */
	}
	.jumbotron .h1, .jumbotron h1 {
		font-size: 63px
	}
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
/*   border-bottom: 1px solid #e5e5e5; */
/*   opacity: 0.8; */
/*   background: rgb(200, 54, 54); The Fallback */
  background: rgba(242, 242, 242, 0.5); 
  border-radius: 8px;
 
}
.jumbotron .btn {
/*   padding: 14px 24px; */
  font-size: 17px;
}

.container .jumbotron, .container-fluid .jumbotron {
	border-radius: 15px
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 150px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


.btn-login {
    color: #fff;
    background-color: rgb(46,149,205);
    border-color: rgb(46,149,205);
}

.btn-login:hover {
    color: #fff;
    background-color: rgb(28, 111, 156);
    border-color: rgb(28, 111, 156);
    
}
