/* Custom Colored Panels */

.huge {
    font-size: 25px;
}

.panel-green {
    border-color: #df8d2e;
}

.panel-green > .panel-heading {
	height: 100px;
    border-color: #df8d2e;
    color: #fff;
    background-color: #df8d2e;
}

.panel-green > a {
    color: #df8d2e;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.page-header {
	padding-bottom: 9px;
	margin: 0 0 20px;
	border-bottom: 1px solid #eee; 
	color: #F78D1D;  	
}

.col-lg-3-user-email {
    width: 35%;
}

.col-lg-3-balance {
    width: 30%;
}

.font-size-email{
	font-size: 20px;
}

.font-title-item{
	font-weight: bold;
}

.font-alert-balance{	
    font-size: 17px;
    color: #FFF;
}
.info-balance{
    margin: 0 30px 10px;
}
